<!DOCTYPE html>
<html>
<head>
<title>Flower Recognition</title>
</head>

<body style="text-align:center;font-family:Arial">

<h1>Flower Recognition System</h1>

<form method="POST" enctype="multipart/form-data">
<input type="file" name="file" required>
<br><br>
<button type="submit">Predict Flower</button>
</form>

{% if prediction %}

<h2>Predicted Flower: {{ prediction }}</h2>

<h3>Confidence: {{ confidence }}%</h3>

<img src="{{ image_path }}" width="300">

<h3>Flower Information</h3>

<p>{{ summary }}</p>

{% if url %}
<a href="{{ url }}" target="_blank">Read more on Wikipedia</a>
{% endif %}

{% endif %}

</body>
</html>